    <div class="container my-4">
      <form action="#" method="post">
          Aritst: &nbsp; <input type="text" name="artist" id="artist" required>
          Album: &nbsp; <input type="text" name="album" id="album">
          Song: &nbsp; <input type="text" name="album" id="song" required>
          Genre: <select name="genre" id="genre-select">
            <option value="" disable selected>--Please choose an option--</option>
            <option value="pop">Pop</option>
            <option value="Hip-hop">Hip-hop</option>
            <option value="Rap">Rap</option>
            <option value="Rock">Rock</option>
            <option value="Dance and Electronic">Dance and Electronic</option>
            <option value="Indie">Indie Rock</option>
            <option value="Alt">Alternative Rock</option>
            <option value="Country">Country</option>
            <option value="Classical">Classical</option>
            <option value="Pirate Metal">Pirate Metal</option>
        </select>
          <input type="submit" value="Add Song">
      </form>
    </div>