<div class="container my-4 text-center">
    <form action="#" method="post">
        Song: &nbsp; <input type="text" name="album" id="song" required>
        Artist: &nbsp; <input type="text" name="artist" id="artist" required> <P></P>
        Album: &nbsp; <input type="text" name="album" id="album"> <P></P>
        Genre: <select name="genre" id="genre-select">
            <option value="" disable selected>--Please choose an option--</option>
            <option value="NULL">NULL</option>
            <option value="pop">Pop</option>
            <option value="Hip-hop">Hip-hop</option>
            <option value="Rap">Rap</option>
            <option value="Rock">Rock</option>
            <option value="Dance and Electronic">Dance and Electronic</option>
            <option value="Indie">Indie Rock</option>
            <option value="Alt">Alternative Rock</option>
            <option value="Country">Country</option>
            <option value="Classical">Classical</option>
            <option value="Pirate Metal">Pirate Metal</option>
        </select>
        <input type="submit" value="Add Song" class="btn btn-sm btn-primary">
    </form>
</div>