<div class="row my-4">
    <div class="mx-auto">
        <h3>All Rhythm Seekers</h3>
                {{#each items}}
                    <li id={{userId}}>{{userName}}</li>
                {{/each}}
    </div>
</div>