<div class="container my-3">
    <div class="text-center col-8 offset-2">
        <h3>Start your finding your rhythm:</h3>
        Sign up for an account:
    <div class="my-4">
        <form action="#" method="post">
            First Name: <P></P> <input type="text" name="name"> <P></P>
            Email:  <P></P> <input type="email" name="email"> <P></P>
            Password:  <P></P> <input type="password" name="password"> <P></P>
            <input type="button" value="Reset">
            <input type="submit" value="Sign Up">
        </form>
    </div>
    </div>
</div>