<div class="container my-3">
    <div class="text-center col-8 offset-2">
        <h3>Add New User:</h3>
    <div class="my-4">
        <form action="#" method="post">
            First Name: <br> <input type="text" name="name"> <P></P>
            Email:  <br> <input type="email" name="email"> <P></P>
            Password:  <br> <input type="password" name="password"> <P></P>
            <input type="reset" value="Reset">
            <input type="submit" value="Sign Up">
        </form>
    </div>
    </div>
</div>