<div class="container-fluid header p-3">
    <h3>Rhythm Finder</h3>
    What will you discover? <P></P>
    <form action="#" method="get">
      <input type="text" name="searchSong" placeholder="Song Title">
      <input type="submit" value="Search" class="btn btn-light btn-sm">
    </form>
</div>
<div class="text-center">
    <img src="../imgs/jammin.jpg" alt="" class="img-fluid">
    <small>Photo by <a href="https://unsplash.com/@dominik_photography?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Dominik Vanyi</a> on <a href="https://unsplash.com/s/photos/instrument?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
    <P></P>
    <small>CS340 Project by Marissa Castillo & Scott Hudson</small>
</div>