<div class="container my-3">
    <div class="row">
      <div class="mx-auto">
        <h3 class="text-center">Your Saved Songs</h3>
        <br>
        <form action="#" method="post">
          Find a new song: &nbsp; <input type="text" name="song" id="songSearch" required>
          <input type="submit" value="Search">
        </form>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <table id="mucisTable">
          <thead>
            <tr>
              <th>Title</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Genre</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="musicBody">
            <tr>
              <td>Light Up</td>
              <td>Moon Taxi</td>
              <td>Light Up</td>
              <td>Indie Rock</td>
              <td class="table-btn"><button class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>