    <div class="container my-3">

      <h3>Your Account</h3>

            Id: 7447 <br>
            Name: hudsonsc <br>
            Email:  <br>
            Number of Saved Songs: 1 <br>

      <P></P>

      <form action="#" method="post">
        Update Email: &nbsp; <input type="text" name="email" id="emailUpdate" required>
        <input type="submit" value="Update">
      </form>

    </div>
