.header {
    position: absolute;
    z-index: 1;
    background-color: rgba(73, 84, 100, .8);
    text-align: center;
    color: white;
}

td, th {
    padding: 1em;
}
table {
    margin: 2em;
}
td {
    border: 1px solid black;
}
.table-btn {
    border: 0px;
}
input {
    border: 1px solid rgba(150, 150, 150, 0.5);
}