.header {
    position: absolute;
    z-index: 1;
    background-color: rgba(73, 84, 100, .8);
    text-align: center;
    color: white;
}

td, th {
    padding: 1em;
}
td {
    border-top: 1px solid rgba(73, 84, 100, .5);
    border-bottom: 1px solid rgba(73, 84, 100, .5);
}
input {
    border: 1px solid rgba(150, 150, 150, 0.5);
}
.card:hover {
    border: 1px solid white;
    box-shadow: 2px 2px 5px rgba(255, 0, 98, 0.25),
                -2px -2px 5px rgba(255, 0, 98, 0.25) ;
}